@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive

}



/* titulos y parrafos */


p{
    font-size: 1rem;
    text-align: justify;
}

/* header */

header{
    display: flex;
    height: 20dvh;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    .logo {
        margin-left: 10%;
        width: 80px;
    }
    h2{
        font-size: 0.7rem;
        font-family: "Tinos", serif;
    }
    ul{
        list-style: none;
    }
    text-decoration: none;
}
.divLogo{
    display: flex;
    align-items: center;
}

.header{
    background-image: radial-gradient(circle, #f29418ef, #f39829ef, #f49e36ef, #f4a342ef, #f5a84eef); 
    position: sticky;
    top: 0;
    z-index: 1000;
    h1{
        display: inline-block;
        margin-left: 70px;
        margin-bottom:30px;
        text-shadow: -3px -1px 5px rgba(0,0,0,0.6);
    }

    a{
        color: black;
        font-weight: 600;
        text-align: justify;
        font-size: 1.5rem;
        text-decoration: none;
        transition: .4s ease;
    }
    a:hover{
        color: white;
        transform: scale(1.1);
    }

    .listaHeader{
        display: inline-block;
        margin-left: 15px;
        transition: .4s ease;
        padding: 10px;       
    }
    .listaHeader:hover{
        transform: scale(1.1);
    }

} 

/* Main */

.main{
    background-image: radial-gradient(circle, #1877f2, #2b87f4, #4297f5, #5ba6f4, #74b4f2);
    text-align: center;
}

.nuestrosProductos {
    padding-top: 20px;
    h2{
        width: 30%;
        margin: auto;
        text-align: center;
        border: 4px solid #74B4F2;
        background-color: #1877F2;
        border-radius: 10px;
        box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
        padding: 10px;
    }
}

.productosLista{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    div{
        background-color: #74B4F2;
        text-align: center;
        border: 2px solid #74B4F2;
        width: 200px;
        height: 270px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
        img{
            background-color: #25d366;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            height: 75%;
            object-fit: cover;
        }
    }

}
.nosotros{
        margin-top: 70px;
        h2{
            width: 30%;
            margin: auto;
            text-align: center;
            border: 4px solid #74B4F2;
            background-color: #1877F2;
            border-radius: 10px;
            box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
            padding: 10px;
            margin-bottom: 70px;
        }

        img{
            width: 500px;
            border: 4px solid #74B4F2;
            background-color: #1877F2;
            border-radius: 10px;
            box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
            padding: 10px;
            margin-bottom: 70px;


        }

            p{
         margin-top: 100px;
            text-align: justify;
            margin: auto;
            width: 80%;
            letter-spacing: 1.5px;
            margin-bottom: 40px;
            border: 4px solid #74B4F2;
            background-color: #1877F2;
            border-radius: 10px;
            box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
            padding: 10px;
            margin-bottom: 100px;
        }
        
}
.divContacto{
    a{
            color: black;
            text-align: justify;
            text-decoration: none;
            transition: .4s ease;
        }

        h2{
            width: 25%;
            margin: auto;
            text-align: center;
            border: 4px solid #74B4F2;
            background-color: #1877F2;
            border-radius: 10px;
            box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
            padding: 10px;
        }
        a:hover{
            color: white;
            transform: scale(1.1);
        }
    }



/* Footer */
footer{
    padding-top: 30px;

    .contenedor{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    
    .footerContenido p{
        width: 190px;
        margin: auto;
        padding: 7px;  
    }

    .footerContenido{
        width: 33.3%;
    }

    .footerContenido p{
        width: 190px;
        margin: auto;  
        padding: 7px;
    }

    .footerContenido ul{
        text-align: center;
    }
    .listaFooter{
        padding: 0;
    }

    .listaFooter li{
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
    }

    ul{
        list-style: none;
    }
    text-decoration: none;
}
a{
    color: black;
    font-weight: 600;
    text-align: justify;
    font-size: 1.2rem;
    text-decoration: none;
    transition: .4s ease;
}
a:hover{
    color: white;
    transform: scale(1.1);
    }

    .formulario{
        margin-top: 30px;
    }

    .bottomBar{
        text-align: center;
        padding: 30px;
        margin-top: 5px;
    }
    
    .bottomBar p{
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }
    
}

.footer{
    background-image: radial-gradient(circle, #f29318, #f39829, #f49e36, #f4a342, #f5a84e);

    .fa-facebook{
        color: #1877F2;
        font-size: 32px;
    }
    .fa-instagram{
        color: #833AB4;
        font-size: 32px;
    }
    .fa-whatsapp {
        color: #25d366;
        font-size: 3em;
        position: fixed;
        bottom: 20px;
        right: 20px;  
     }
     
     .iconosRedes i{
        margin-left: 70px;
     }

}

@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
